body, nav.site-desktop-menu > ul > li > ul, nav.site-mobile-menu > ul, .magnis-toggle section.active, .magnis-product-item figure.hovered, .magin-payment-option p.desc {
	border-top-color: #11b7e7;
}
nav.site-desktop-menu > ul > li a:hover, .sorting-filters a.active, .pr-table-3 thead th, .single-project-details p, .magnis-shopping-cart-details thead {
	border-bottom-color: #11b7e7;
}
.main-content blockquote {
	border-left-color: #11b7e7;
}
a:hover, .header-contacts p i, .purchase p.big span, .purchase-2 p.big span, .main-content h2 span, .intro p.sign, .feature i, .testimonials-1 .jcarousel-skin-tango .jcarousel-item-horizontal p span, .testimonials-1 .jcarousel-skin-tango .jcarousel-item-horizontal p i, .latest-projects-wrapper .jcarousel-skin-tango .jcarousel-item-horizontal .project-details .buttons i, .latest-projects-wrapper .jcarousel-skin-tango .jcarousel-item-horizontal .project-details p.project-tags i, .latest-projects-wrapper .jcarousel-skin-tango .jcarousel-item-horizontal .project-details p a:hover, .footer-latest-tweets .jcarousel-skin-tango .jcarousel-item-horizontal p.username i, .footer-widget a, .footer-latest-tweets .jcarousel-skin-tango .jcarousel-prev-horizontal, .footer-latest-tweets .jcarousel-skin-tango .jcarousel-next-horizontal, .bottom-line a, .footer-latest-tweets .jcarousel-skin-tango .jcarousel-next-horizontal i,  .footer-latest-tweets .jcarousel-skin-tango .jcarousel-prev-horizontal i, .page-header p i, .magnis-toggle section.active header, ul.ul-style-1 li i, .offer-item i, .ul-style-2 li i, .sorting-filters a.active, .quick-info-item i, .pr-table-1 header p.price span, .pr-table-1 section ul li span, .pr-table-2 header p.featured, .pr-table-3 td i.icon-ok-sign, .pr-table-3 td span, .pr-table-3 .options i, .sidebar-categories ul li i, .project-item .project-details .buttons i, a.button-border:hover, .single-project-details p span, .main-content h3 span, .contact-info p i, .list-style-3 li i, .list-style-4 li i, .home-3-features i, .buy-now-block h3 span, .testimonials-2 ul li > i, .testimonials-2 .jcarousel-skin-tango .jcarousel-item-horizontal p span, .magnis-shop-sorting li i, .magnis-product-item .product-desc p.price, .magnis-product-item-hover a, .magnis-shopping-cart p span, .magnis-product-item-single-desc .price > span, .customers-reviews-list h3 span, .magnis-shopping-cart-details p.title i, .magnis-shopping-cart-details p.title span, .magnis-shopping-cart-details-table .product-total, .magnis-cart-totals tr.total td.td2, .magnis-tabs header p.active, .magnis-product-total tbody tr.sec2 td.td2 {
	color: #11b7e7;
}
.site-logo, .footer-about-logo {
	background-image: url(../images/site-logo-color-5.png);
}
.header-social-buttons a i:hover, nav.site-mobile-menu li.hovered, nav.site-desktop-menu > ul > li li.hovered, .button-color, .latest-projects-intro, .newsletters-1, .latest-blog-posts .jcarousel-skin-tango .jcarousel-item-horizontal .latest-blog-post-img .latest-blog-post-date, .magnis-skills section .skill-value .skill-value-chart, .team-member .soc-buttons, .pr-table-1 header p.head, .pr-table-2 header p.featured, .sidebar-posts-item .date, .post-item .date, .add-comment-form p button, .main-content-soon-color, .home-3-features-item i.hover, .footer-newsletters/**/ .quick_newsletter button.btn, .feature i.hover, form.magnis-product-item-review p button {
	background-color: #11b7e7;
}
.feature i, .latest-projects-wrapper .jcarousel-skin-tango .jcarousel-item-horizontal .project-details, .latest-projects-wrapper .jcarousel-skin-tango .jcarousel-item-horizontal .project-details .buttons i, .footer-latest-tweets .jcarousel-skin-tango .jcarousel-prev-horizontal, .footer-latest-tweets .jcarousel-skin-tango .jcarousel-next-horizontal, .magnis-skills section .skill-value, .offer-item i, .magnis-tabs header p.active, .quick-info-item i, .sidebar-search-active, .project-item .project-details, .project-item .project-details .buttons i, a.button-border:hover, .add-comment-form-active, .home-3-features i, .header-search-focused, .magnis-product-item-hover, .magnis-product-item-hover a, .magnis-shipping .focused, .magnis-promo .focused, .magnis-checkout-block .focused {
	border-color: #11b7e7;
}
.add-comment-form .add-comment-form-active, form.magnis-product-item-review p input.focused, form.magnis-product-item-review p textarea.focused {
	border: 1px solid #11b7e7;
}
.main-content-soon-color {
	background-color: rgba(17, 183, 231, 0.7);
}
.magnis-404 .focused {
	border-color: #11b7e7 !important;
}