@media (max-width: 480px) {
	.infobubble{
	 background-image:none;
	}
	.hmsg{
	padding:14px 20px;
	
	}
	#postcode{
	width: 150px;	
	}
	.mybigbt{
	font-size: 16px !important;
	font-weight:bold;	
	}
	.bannerhead{
	font-size: 26px;
    line-height: 28px;	
	}
	.container {
		width: 300px !important;
	}
	.site-desc {
		display: none;
	}
	.site-desktop-menu {
		display: none;
	}
	.site-logo {
		float: none;
		width: auto;
		margin: 0px;
		font-size: 24px !important;
	}
	
	.site-mobile-menu .icon-reorder{
	margin-top:26px;	
	}
	nav.site-mobile-menu {
		margin-top: -80px !important;
	}
	.latest-blog-posts .jcarousel-skin-tango .jcarousel-item-horizontal .latest-blog-post-img img {
		display: none;
	}
	.latest-blog-posts .jcarousel-skin-tango .jcarousel-item-horizontal {
		padding-left: 75px !important;
	}
	.latest-blog-posts-2 .jcarousel-skin-tango .jcarousel-item-horizontal .latest-blog-post-img img {
		display: none;
	}
	.latest-blog-posts-2 .jcarousel-skin-tango .jcarousel-item-horizontal {
		padding-left: 75px !important;
	}
	nav.site-mobile-menu > ul {
		top: 80px !important;
	}
	.magnis-cart-totals-block .button-dark {
		margin-bottom: 20px;
	}
}
 @media (min-width: 600px) AND (max-width: 820px)
 {
	 	.bannerheads{
		padding-left:0px;	
		}
		.typegraybg, .dropcontainer{
		width:100% !important;	
		}
 }
@media (min-width: 768px) AND (max-width: 980px) {
	.infobubble{
	 background-image:none;
	}
	.hmsg{
	padding:14px 20px;
	
	}
}
@media (max-width: 768px) {

	.bannerhead{
	margin-top:20px;	
	}
	.bannerheads{
padding-left:20px;	
}
	.container {
		width: 450px;
	}
	.site-desc {
		display: none;
	}
	.site-desktop-menu {
		display: none;
	}
	.header-social-buttons a i {
		line-height: 25px !important;
		height: 24px !important;
		width: 25px !important;
	}
	.purchase a.button {
		margin-top: 20px;
	}
	img.lone-img {
		margin: 40px 0px;
	}
	.latest-projects-intro {
		width: 100%;
	}
	.latest-projects-wrapper {
		width: 100%;
	}
	.latest-blog-posts {
		margin-bottom: 55px;
	}
	.footer-widget {
		margin-bottom: 55px;
	}
	.site-footer {
		padding-bottom: 0px;
	}
	.footer-contacts-wrapper {
		background-size: auto 100%;
	}
	.bottom-line p {
		text-align: center !important;
	}
	.quick_newsletter input.text, .quick_newsletter button.btn {
		margin-top: 20px;
	}
	.latest-blog-posts .jcarousel-skin-tango .jcarousel-item-horizontal .latest-blog-post-details small span {
		width: 100%;
		float: left;
		text-align: left !important;
	}
	.team-member {
		margin-top: 40px;
	}
	.team-member-first {
		margin-top: 20px;
	}
	
	.ul-style-2 li {
		width: 100%;
	}
	.page-header p {
		text-align: left;
		margin-top: 20px;
	}
	.pr-table-featured {
		margin-top: 40px;
	}
	.pr-table-3-wrapper table {
		width: 800px;
	}
	.magnis-shopping-cart-details-table-wrapper .magnis-shopping-cart-details-table {
		width: 800px;
	}
	.comment-item .comment-item {
		margin-left: -30px;
	}
	.add-comment-form p input {
		width: 100%;
		margin-bottom: 20px;
	}
	.add-comment-form p button {
		width: 100%;
	}
	#daysOne, #hoursOne, #minsOne, #secsOne{
		width: 100%;
	}
	#wrapper {
		width: 100%;
	}
	.main-content-soon-color {
		padding: 100px 0px;
	}
	.header-sub-wrapper-3 {
		max-width: none;
	}
	.header-sub-wrapper-3 .header-social-buttons-3 {
		margin-top: 20px;
	}
	.header-search {
		display: none;
	}
	.gray-line-3 {
		top: 109px !important;
	}
	.testimonials-2 .jcarousel-skin-tango .jcarousel-item-horizontal {
		padding-left: 55px;
	}
	.testimonials-2 ul li > i {
		left: 0px;
	}
	.testimonials-2 ul li  img {
		display: none;
	}
	.buy-now-block a.button {
		margin-top: 20px;
	}
	.latest-projects .latest-projects-wrapper {
		width: 100%;
	}
	.latest-projects .latest-projects-intro {
		width: 100%;
	}
	.latest-projects .latest-projects-intro p {
		margin-top: 0px;
	}
	.magnis-product-item {
		margin-bottom: 40px;
	}
	.magnis-shop .blog-pagination {
		margin-top: 0px;
	}
	.blog-pagination > a, .blog-pagination > span {
		margin-bottom: 20px;
	}
	.magnis-releated-products .magnis-product-item {
		margin-bottom: 40px;
	}
	.magnis-product-item-single-img, .magnis-product-item-single-desc {
		width: 100%;
	}
}

@media (min-width: 480px) and (max-width: 768px) {
	.site-desc {
		display: none;
	}
	.site-desktop-menu {
		display: none;
	}
	.footer-filckr-wrapper {
		height: 153px;
	}
	
}

@media (min-width: 768px) and (max-width: 979px) {
	nav.site-desktop-menu > ul > li > a {
		font-size: 14px;
	}
	.site-desc {
		display: none;
	}
	.header-contacts .contact-1, .header-contacts .contact-2 {
		display: none;
	}
	.header-contacts p {
		margin-right: 20px;
	}
	.header-contacts p i {
		display: inline-block !important;
	}
	nav.site-desktop-menu > ul > li {
		margin-left: 15px;
	}
	nav.site-desktop-menu-2 > ul > li {
		margin-right: 15px !important;
		margin-left: 0px !important;
	}
	.site-mobile-menu {
		display: none;
	}
	.site-logo {
		margin-right: 0px;
		font-size: 24px !important;
	}
	.purchase a.button {
		width: 100%;
	}
	.latest-projects-intro p {
		display: none;
	}
	.latest-projects-intro h2 {
		font-size: 18px;
		line-height: 18px;
	}
	.latest-blog-posts .jcarousel-skin-tango .jcarousel-item-horizontal .latest-blog-post-details small span {
		width: 100%;
		float: left;
		text-align: left !important;
	}
	.team-member .soc-buttons a {
		font-size: 18px;
		width: 40px;
	}
	.ul-style-2 li {
		width: 100%;
	}
	.add-comment-form p input {
		width: 178px;
	}
	.buy-now-block a.button i {
		display: none;
	}
	.newsletters-1 .quick_newsletter .btn i {
		display: none;
	}
	.footer-newsletters .quick_newsletter input {
		width: 100%;
	}
	.footer-newsletters .quick_newsletter .btn {
		float: right;
	}
	.magnis-product-item {
		margin-bottom: 20px;
	}
	.magnis-shop .blog-pagination {
		margin-top: 20px;
	}
	.magnis-cart-totals-block .button-dark {
		margin-bottom: 20px;
	}
}

@media (min-width: 980px) and (max-width: 1199px) {
	
	.site-mobile-menu {
		display: none;
	}
	.purchase a.button {
		width: 100%;
	}
	.latest-projects-intro p {
		font-size: 12px;
		line-height: 18px;
	}
	nav.site-desktop-menu-2 > ul > li {
		margin-left: 0px !important;
	}
	.add-comment-form p input {
		width: 260px;
	}
	.footer-newsletters .quick_newsletter input {
		width: 100%;
	}
	.footer-newsletters .quick_newsletter .btn {
		float: right;
	}
	.magnis-product-item {
		margin-bottom: 20px;
	}
	.magnis-shop .blog-pagination {
		margin-top: 20px;
	}
	nav.site-desktop-menu > ul > li {
		margin-left: 30px;
	}
}
     
@media (min-width: 768px) and (max-width: 1199px) {
	.magnis-shopping-cart p a.button-color {
		margin-bottom: 10px;
	}
	.bannerhead{
	margin-top:30px;
	}
}
@media (min-width: 1200px) {
	.site-mobile-menu {
		display: none;
	}
	.magnis-product-item {
		margin-bottom: 30px;
	}
	.magnis-shop .blog-pagination {
		margin-top: 10px;
	}
}