.profile-info{
color:#333;	
}
button.alertBox{
font-size: 20px;
    margin: 12px;
}
.rnone{
resize:none !important;	
}
.font16{
font-size:16px !important;	
}

i.addButton{
padding-right:16px !important;	
}

@media (max-width: 499px) {
.hideCol{
display:none;	
}	
}
@media (max-width: 600px) {
.hideCol2{
	display:none;	
}
}

@media (max-width: 767px) {
.hideCol2{
	display:none;	
}	
}

span.validate-has-error{
color:#CC2424;	
}